

body {
	background-color:black;
}


.frame {


}

a:-webkit-any-link {

  position: fixed;
  
  left: 15px;
  top: 16px;
  color: #FFFFFF;
  z-index: 2;
  font-size: 2.5vw;
  width: 409px;
  height: 214px;
  font-family: din;
  font-style: normal;
  font-weight: 10vw;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: .05em;
  text-transform: uppercase;

}

li {
    left:700px; 
}

ul {
    list-style-type: disc;
}

mark{
	color:#8AB1F3;
	background-color:transparent;
}

img.back{
	position: absolute;
    width: 100vw;
    height: 100vw;
    left: 0px;
    top: 0vw;
    z-index: 1;

}

img.school {
    z-index: 2;
    position: absolute;
    margin-left: 30vw;
    margin-top: 40vw;
    width: 40vw;
}

.more {
	width: 0vw;
    margin-top: -20vw;
    z-index: -2;

}

h1{ 
    position: absolute;
    left: 67vw;
    top: 16vw;
    width: 21vw;
    height: 25vw;
    align-items: center;
    text-align: center;
    letter-spacing: -0.015em;
    color: white;
    font-family: din;
    font-size: 2.5vw;
    background-color: transparent;
    letter-spacing: -0.015em;
    z-index: 3;
    font-weight: 10vw;
 }

.ellipse2{
position: absolute;
width: 25vw;
height: 25vw;
left: 65vw;
top: 13vw;
z-index: 2;
border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
background: #F563F2;
}

.arrow-up {
    width: 0vw;
    height: 20vw;
    border-left: 30vw solid transparent;
    border-right: 30vw solid transparent;
    border-bottom: 30vw solid #FB936D;
    background: black;
    z-index: 2;
    padding-top: 85vw;
    padding-left: 5vw;
    margin-left: 17vw;
}

h2{ 
    position: absolute;
    left: 40vw;
    width: 21vw;
    height: 15vw;
    align-items: center;
    color: white;
    font-family: din;
    font-size: 2.5vw;
    background-color: transparent;
    letter-spacing: -0.015em;
    z-index: 3;
    text-align: left;
    margin-top: 14vw;
 }

p{	
	color: white;
    font-size: 5vw;
    text-align: left;
    margin-left: 60px;
    margin-right: 20px;
    padding-left: 15vw;
    padding-top: 25vw;
    z-index: 1;
    font-family: din;
}

.ellipse1{
    display: block;
    width: 66vw;
    height: 68vw;
    background: #8AB1F3;
    position: absolute;
    border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
    left: 17vw;
    top: 130vw;
    z-index: -1;
}
